div.device {
    background: #fff;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.2);
    display: flex;
    font-family: 'Century Gothic';
    padding: 2vh 1vw 2vh 1vw;
    width: 70%;
    height: 75vh;
    margin: 5vh auto 0 auto;
}

div.device-content {
    width: 30vw;
    text-align: center;
}

div.device-title {
    display: inline-flex;
    height: 10%;
}

div.device-title img {
    width: 2.5vw;
    margin: auto 0;
}

div.device-title h1 {
    margin: auto 0 auto 1vw;
    font-weight: lighter;
    font-size: 150%;
    text-decoration: none;
    color: #000;
}

div.device-systems {
    border: none;
    margin: 5vh 0 3vh 0;
    overflow-y: auto;
    max-height: 80%;
    padding-right: 0.8vw;
    scrollbar-width: thin;
}

div.device-systems {
    --scrollbarBG: #fafafa;
    --thumbBG: #bad3e0;
}
div.device-systems::-webkit-scrollbar {
    width: 11px;
}
div.device-systems {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
div.device-systems::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
div.device-systems::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

div.device-systems ul.device-systems>li {
    font-size: 1.2vw;
    margin: 3vh 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 0 1vw 1vh 1vw;
}

div.device-systems ul.device-systems>li ul.device-system {
    padding: 0;
}

div.device-systems ul.device-systems>li ul.device-system li {
    display: flex;
    justify-content: space-between;
    line-height: 100%;
}

div.device-systems ul.device-systems>li ul.device-system li.device-system-value {
    margin-left: 2vw;
}

div.expand {
    width: 3vw;
    text-align: center;
    display: inline-block;
}

div.Close {
    cursor: pointer;
}

div.btnExpand {
    margin: 35vh 0 0 0.5vw;
    cursor: pointer;
}


div.expand-data {
    width: 60vw;
    border-left: 1px solid black;
    margin-left: 1vw;
    display: block;
}

div.graph-container {
    text-align: center;
    margin: 5vh 0;
    max-height: 70%;
}

div.graph-content {
    display: flex;
    justify-content: space-between;
}

div.graph-content div.graph h1 {
    font-family: 'Century Gothic';
    font-size: 2em;
    font-weight: lighter;
}

div.graph-attributes {
    width: 20%;
}

div.graph-attributes>ul {
    margin-top: 2vh;
}

div.graph-attributes>ul li {
    margin: 0 auto 2vh auto;
    background: #ff7928;
    border-radius: 100%;
    color: white;
    width: 2.5vw;
    line-height: 2.5vw;
    font-size: 1.2vw;
    border: 1px solid black;
    cursor: pointer;
}

div.graph-attributes>ul li span {
    display: none;
}

div.graph-attributes>ul li:hover {
    background: #ff6000;
    border-radius: 30px;
}
div.graph-attributes>ul li:hover span {
    display: block;
    position: absolute;
    z-index: 9;
    background: #ff6000;
    border: 1px solid black;
    border-left: none;
    margin-top: -2.55vw;
    margin-left: 0%;
    border-radius: 30px;
    padding: 0 1vw;
}

div.graph {
    width: 90%;
}

div.graph-search {
    margin-left: 10%;
}

div.graph-search div.from-to {
    display: block;
    height: 11vh;
}

div.graph-search div.from-to>div {
    display: flex;
    height: 50%;
}

div.graph-search div.from-to>div p {
    width: 7%;
    color: #FF6000;
    font-weight: bold;
    font-size: 1.2vw;
    margin: auto 0;
}

div.graph-search div.from-to>div input {
    width: 25%;
    margin: auto 1vw;
    padding: 0 0.1vw;
    font-family: 'Century Gothic';
    font-size: 0.9em;
    width: 25%;
}
