header {
    height: 5vh;
    background: #4d774e;
    color: white;
    font-family: 'Century Gothic';
    padding: 1vh 1vw;
}

header div.home {
    display: flex;
    height: 100%;
}

header div.home img {
    margin: auto 0;
    height: 100%;
}

header div.home h1 {
    font-size: 1.1vw;
    font-weight: lighter;
    margin: auto 0 auto 1vw;
    line-height: 100%;
}