div.systems {
    height: 100%;
    width: 100%;
}

div.systems ul.systemsList {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    --scrollbarBG: #fafafa;
    --thumbBG: #c0dabb;
    margin: 1vh auto 0 auto;
    height: 95%;
    max-width: 95%;
}

ul.systemsList::-webkit-scrollbar {
    width: 11px;
}
ul.systemsList {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
ul.systemsList::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
ul.systemsList::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

ul.systemsList>li {
    width: 70%;
    height: 85%;
    margin: 0 4vw;
}